body {
    font-family: 'Poppins', sans-serif;
}
.hero-bg {
    background-image: linear-gradient(to right, rgba(251, 191, 36, 0.9), rgba(251, 191, 36, 0.7)), url('https://placehold.co/1920x1080/facc15/333333?text=Corndog+Lezat');
    background-size: cover;
    background-position: center;
}
.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}